#catpic {
	margin-top: 20px;
	margin-left: 20px;
}

.catNameListDiv {
	margin-top: 20px;
}

.catNameDiv {
	height: 30px;
	max-width: 100%;
}

#cat-img {
	height: 200px;
	width: 200px;
}

#admin-btn {
	margin-top: 10px;
}